@import "tailwindcss";

:root {
  --primary: #6366f1;
  --secondary: #8b5cf6;
  --accent: #ec4899;
}

body {
  background-color: white;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}